<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="dbconfig.properties" />

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="logImpl" value="STDOUT_LOGGING" />	<!-- 配置打印出debug sql -->
		<setting name="lazyLoadingEnabled" value="true"/>	<!-- 配置是否延迟加载relations -->
		<setting name="aggressiveLazyLoading" value="false"/>	<!-- 配置是否一次性加载出lazy loaded object的全部属性 -->
		<setting name="cacheEnabled" value="true"/> 	<!-- 开启二级缓存，默认好像就是开启了。 -->
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>

	<databaseIdProvider type="DB_VENDOR">
		<!-- 为不同的数据库厂商起别名 -->
		<property name="MySQL" value="mysql"/>
		<property name="Oracle" value="oracle"/>
	</databaseIdProvider>

	<mappers>
		<!-- 批量注册 -->
		<package name="com.xiuwei.dao"/>
	</mappers>

</configuration>