<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiuwei.dao.DepartmentMapper">
    <select id="getDeptById" resultType="com.xiuwei.POJO.Department">
        select id, dept_name departmentName from tbl_dept where id=#{id}
    </select>

    <!-- （第34讲）增强版的查询，查部门时，把全部员工也查出来（嵌套结果集的方式） -->
    <resultMap id="deptWithEmpsMap" type="com.xiuwei.POJO.Department">
        <id property="id" column="did"/>
        <result column="dept_name" property="departmentName" />
        <!-- collection定义关联集合属性的封装规则。（嵌套结果集的方式）
            ofType: 集合里元素的类型。 不知道为啥不能用javaType。
        -->
        <collection property="emps" ofType="com.xiuwei.POJO.Employee">
            <id property="id" column="eid" />
            <result column="last_name" property="lastName"/>
            <result column="gender" property="gender"/>
            <result column="email" property="email"/>
        </collection>
    </resultMap>
    <select id="getDeptByIdWithEmployees" resultMap="deptWithEmpsMap">
        select d.id did, d.dept_name, e.id eid, e.last_name, e.gender, e.email from tbl_dept d
        left join tbl_employee e
        on d.id=e.d_id
        where d.id=#{id}
    </select>

    <!-- （第35讲）增强版的查询，查部门时，把全部员工也查出来（分步骤查询&延迟加载方式） -->
    <resultMap id="deptWithEmpsMapStep" type="com.xiuwei.POJO.Department">
        <id property="id" column="did"/>
        <result column="dept_name" property="departmentName" />
        <!-- collection定义关联集合属性的封装规则。（分步骤查询方式）
            （第36讲）fetchType： 是否延迟加载，此配置优先级高于全局配置。 fetchType="eager"： 不用延迟加载； fetchType="lazy"： 延迟加载
            （第36讲）column="{did=id}" 是传多个列时的写法(map格式)，等价column="id"的传单列写法
        -->
        <collection
                property="emps"
                select="com.xiuwei.dao.EmployeeMapperPlus.getEmpsByDeptId"
                column="{did=id}"
                fetchType="lazy"
        />
    </resultMap>
    <select id="getDeptByIdWithEmployeesStep" resultMap="deptWithEmpsMapStep">
        select id, dept_name from tbl_dept where id=#{id}
    </select>
</mapper>